/* colores */
:root{
    --verdeOscuro: rgb(95, 113, 97);
    --verdeOscuro_1: rgb(40, 51, 42);
    --verdeSuave: rgb(193, 209, 197);
    --colorClaro: rgb(239, 234, 216);
    --colorGris: rgb(208, 201, 192);
}

*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

body{
}
#container_gral{
    width: 80%;
    margin: auto;
}

header{
    height: 10%;
}
main{
    padding-top:10px;
    min-height:100vh;
    background-color:rgba(193, 209, 197,0.30);
    
}

/*START| NAVBAR */
#navigation{
    font-size: 20px;
   background-color: var(--verdeSuave);
   display: flex;
   justify-content: space-around;
   align-items: center;
   
}

#nav_ul{
    padding: 1.5rem 0;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    
    list-style: none;
     
}
.nav_item{
    display: inline-block;
    font-weight: bold;
  
}
#active{
  color: var(--verdeOscuro_1);
  text-decoration: underline;
  font-weight: bold;
}
.nav_item a{
    padding:0.2rem 0.5rem;
    color: var(--verdeOscuro);
    display: block;
    transition: all 0.4s linear;
    text-decoration: none; 
}
.nav_item a:hover{
    color:var(--verdeOscuro_1);
    text-shadow: 1px 1px currentColor;
    border-radius: 10px;
    text-decoration: none;
    font-size:20px;
}
.nav_item a:hover::before{
  content:'> ';
}
/*END | NAVBAR */


/*START | INICIO */
#section_encabezado{
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 10px 0;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(95, 113, 97,0.70);
    border: 1px solid black;
    border-radius: 30px;
}

#section_encabezado h1{
    color: var(--colorClaro);
    text-shadow: 1px 2px var(--verdeOscuro_1) ;
    font-size: 50px;
    font-weight: bold;
}
#section_encabezado h3{
    font-size: 18px;
    font-weight: bold;
    color: var(--verdeOscuro_1);
}
#section_1{
    padding: 40px;
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 550px;
    flex-direction: row;
}
#container_carrousel{
    padding-left: 10px;
    width: 550px;
    height: 100%;
}

#carrousel_items{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
    cursor:pointer;
    transition: all 500ms ease-in-out;
    
}

.item_carrousel{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    opacity: 1;
    
}
.img_carrousel{
    width: 100%;
    display: flex;
    height: 100%;
   
}
.img_carrousel img{
   
    object-fit: cover;
    width:100%;
    height: 100%;
    
    
}
.arrows_carrousel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 


}
.description_carrousel{
    font-size: 20px;
    color: var(--verdeOscuro_1);
    font-weight: 900;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: var(--verdeSuave);
    height: auto;
    width: 100%; 
    padding: 10px 0;
    transition: all 500ms ease-in-out;
    opacity: 0;
   
    
}

.item_carrousel:hover > .description_carrousel{
  
    opacity: 1;
   
}
#control_carrousel{
    padding-bottom:20px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}

#control_carrousel > a{

    text-decoration: none;
    font-size: 2rem;
    color: rgb(6, 31, 6);
}
#control_carrousel > a:hover{
    color:var(--verdeSuave);
}
.arrows_carrousel > a > i{
    color: rgb(6, 31, 6);
}


#container_donation_main{
    width: 50%;
    margin: auto;
    height: 80%; 
    
}  

#texto_inicio{
    background-color: rgba(239, 234, 216, 0.30);
  color: var(--verdeOscuro_1);
    width: 70%;
    height: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-top: double var(--verdeOscuro_1) 25px;
    border-bottom: double var(--verdeOscuro_1) 25px;
}
#texto_inicio h2{
    padding: 5px;
    font-size: 2.5rem;
    letter-spacing: -1px;
    font-weight:bold;
}
.dona1{

    padding:20px 0;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    color: var(--verdeOscuro_1);
    font-weight: bold;
    transition: all 0.4s linear;
    text-shadow:2px 2px rgba(0, 0, 0, 0.30);
}
.dona1 img{
  color: var(--verdeOscuro_1);
}
.dona1:hover{
    
    text-shadow:1px 1px var(--colorClaro);
    border-radius: 10px;
    font-size: 1.8rem;
}
.dona2{ 
    color: var(--verdeOscuro);
    padding-bottom:10px;
    margin: auto;
  border: 3px var(--verdeOscuro_1) dotted;
    background-color: var(--verdeSuave);
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-image:url("https://cdn-icons-png.flaticon.com/512/22/22744.png");
    background-size: contain;
    transition: all 0.4s linear;

}
.dona2:hover{
    width: 100px;
    height: 100px;
    border-radius: 55px;
}
    
@media(max-width: 1100px){
    #section_encabezado{
        width: 420px;
    }
    #section_encabezado h1{
        font-size: 30px;
        letter-spacing: normal;
    }
    #section_encabezado h3{
        display: none;
    }
    #section_1{   
        flex-direction: column;  
        align-items: center;
        padding: 20px; 
        height: 100vh;
    }
    #container_carrousel{
        height: 60%;
        width: 500px;   
    }
    #container_donation_main{
        margin:auto;
        border-top: 5px double black;
        border-bottom: 5px double black;
        height: 30%;
        width: 50%;
        padding:10px 0;
        text-align: center;
    }
    #texto_inicio{
        border: none;
    }
    #texto_inicio h2{
        display: none;
    }
    .dona1{
        margin: auto;
        font-size: 30px;   
    }
    .dona2{
        display: none;
    }
    #article_2{
        display: none;
    }
  .dona1:hover{
        background-color: rgba(239, 234, 216, 0.30);
        text-shadow:2px 2px rgba(0, 0, 0, 0.30);
   
    
}
   
}

@media(max-width:700px){
  
    #section_encabezado{
        border-radius: none;
        width: 80%;
        margin: auto;
        
    }

    #section_encabezado h1{
      font-size:20px;
        margin: auto;
        text-shadow: none;
        text-align: center;
        font-weight:normal;
    }
    #navigation{
        font-size: 12px;
        
    }
    #nav_logo{
        display: none;
    }
    #nav_ul{
        width: 100%;
        
    }
  .nav_item a:hover{
    color:var(--verdeOscuro);
    background:none;
    border-radius: 10px;
    text-decoration: checked;
    font-size:20px;
}
    
    #section_1{
        padding-top:50px;
        padding-bottom:30px;
        padding-right:30px;
        height:400px;
    }
    #control_carrousel a{
        font-size: 1rem;
    }
    #container_carrousel{
        
        height: 260px;
        width: 250px;
    }
  
    #container_donation_main{
        padding-top: 2rem;
        width: 100%;
        height: auto;
        border: none;
        margin:auto;
    }
   
    .dona1{
        width: 100%;
        display: block;
        font-size:  20px;

    }
  .dona1:hover{
        background-color: rgba(239, 234, 216, 0.30);
        text-shadow:2px 2px rgba(0, 0, 0, 0.30);
    font-size:20px; 
    }
}
/*END| INICIO */

/*START| CONTACTO*/
#textoContacto{
  background: var(--verdeSuave);
  padding:5px;
}
.section-contactos{
  color:var(--verdeOcuro_1);
}
.botonVerde{
    background: var(--verdeSuave)!important;
    padding:0.8rem;
    border-radius:10px;
    margin:20px;
}

.botonEnviar{
    background-color: var(--verdeSuave)!important;
    min-width: 100%;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    color:var(--verdeOscuro);
}

/*END| CONTACTO */

/*START| PAGE ADOPCION*/
/* TITULO ANTES DE CARD */

#section_adoption{
    
    padding-bottom: 20px;
}
.header-card{
    color:var(--verdeOscuro_1);
}
.header-card .titulo{
    font-size: 13px;
}

.header-card .subtitulo{
    font-size: 10px;
}

/* STILE CARD */

.card{
    height: 170px;
}

.perritos .card{
    max-width: 200px;
    max-height: 200px; 
    color: var(--colorClaro);
}

.card .descripcion_card{
    opacity: 0;
    transition: opacity 250ms 500ms;
    font-size: 10px;
    text-align: center;
}

.card:hover .descripcion_card{
    opacity: 1;
}

.descripcion_card button{
    background-color: var(--colorGris);
    color: var(--verdeOscuro);
    border: 0.7px solid var(--colorClaro);
    padding: 0 4px;
    font-size: 10px;
}


.card-img{
    height: 100%;
    width: 100%;
}

/* Modal con informacion del perrito */

.modal-body img{
    width: 200px;
}
.card-modales{
    z-index: 1;
    color: var(--verdeOscuro);
}

.modal-body img{
    border: 3px solid var(--verdeSuave);
    margin-right: 0.5px;
}
.modal-body li{
    color: var(--verdeOscuro);
}
.modal-body li:hover{
    background-color: var(--verdeSuave);
    border: 0.7px solid var(--verdeOscuro);

}

.modal-footer button{
    background-color: var(--verdeSuave);
}
.modal-footer button:hover{
    border: 0.7px solid var(--verdeOscuro);

}


/* EFECTOS A LAS CARD */
.sombraYMovimiento {
    position: relative;
    top: 9px;
    left: 5px;
    transition: 500ms;
    box-shadow: 0px 0px 5px 0px var(--verdeOscuro);
}
  .sombraYMovimiento:hover {
    top: 0;
    left: 0;
    box-shadow: 5px 5px 5px 0px var(--verdeOscuro);
  }

.close{
  text: decoration none;;
}
.form{
  padding:0.
}

/* Breakpoints */
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   
    /* NAVBAR */


    /* Titulo antes de las card de perritos */
    .header-card .titulo{
        font-size: 20px;
    }
    
    .header-card .subtitulo{
        font-size: 15px;
    }
    .nav-item a b{
       font-size: 15px; 
    }
  /* DISEﾃ前 DEL FOOTER -tablet- */
    #footer-inicio{
        font-size: 25px;
    }
    .redesTitulo{
        font-size: 12px;
    }
    #footer-medio ul li{
        font-size: 12px;
    }
    .pie{
        font-size: 10px;
    }   
}

/*END| PAGE ADOPCION*/

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    /* Titulo antes de las card de perritos */
    .header-card .titulo{
        font-size: 18px;
    }
    
    .header-card .subtitulo{
        font-size: 13px;
    } 
    .nav-item a b{
        font-size: 20px; 
     }
    #imagenContacto{
        width: 400px;
        height: 400px;
    }
    #textoContacto{
        width: 1000px;
        height: 600px;

    }
  /* START| ERROR PAGE */
/* DISEﾃ前 PAGINA ERROR 404 */
.tituloError {
    color: black;
    font-weight: lighter;
    font-size: 40px;
    padding: 1rem;
}

.cardError {
    /* DISEﾃ前 */
    background-color: rgb(193, 209, 197);
    border: 2px solid rgb(208, 201, 192);
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgb(52, 52, 51);
    padding: 2rem;
    transition: 500ms;
    /* POSICIONAMIENTO */
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.cardError:hover {
    transform: translateY(-50%) translateX(-50%) scale(1.1);
    box-shadow: 2px 10px 10px rgb(52, 52, 51);
    transition: 500ms;
}

.color-acento {
    color: rgb(95, 113, 97);
    font-weight: bold;
}

#perritoError{
    margin: auto;
}

#boton{
    text-decoration: none;
}
/* END| ERROR PAGE */

/* BACKGRUOND VIDEO */
#videoPerritos{
    position: fixed;
    z-index: -1;
    width: 100vh;
}

@media (min-aspect-ratio: 16/9){
    #videoPerritos{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #videoPerritos{
        width: auto;
        height: 100%;
    }
}

/* DISEﾃ前 DEL FOOTER -pc- */
     #footer-inicio{
         font-size: 35px;
     }
     .redesTitulo{
        font-size: 16px;
    }
    #footer-medio ul li{
        font-size: 16px;
    }     
    
    .pie{
        font-size: 15px;
    }
}
/*FOOTER*/
footer{
    position: relative;
    bottom: 0;
    background-color: var(--verdeSuave);
    color: var(--verdeOscuro);
    /* border-top-left-radius: 10%;
    border-top-right-radius: 10%; */
} 

#footer-inicio p b{
    /* padding-left: 3px; */
    padding-bottom: 2px;
    /* border-right: 1px solid var(--verdeOscuro); */
    border-bottom: 1px dotted var(--verdeOscuro);
}

footer hr{
    margin-top: 0px;
}

#footer-final{
    margin: 0;
    margin-bottom: 10px;
}
.redesTitulo{
    position: relative;
    font-size: 9px;
    font-style: italic;
    /* border-bottom: 00.1px solid var(--verdeOscuro);
    border-radius: 10%; */
}
.redesTitulo::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    right: calc(50% - 8px);
    border-top: 8px solid var(--verdeOscuro) ;
    border-right: 8px solid transparent ;
    border-left: 8px solid transparent ;
    border-bottom: 8px solid transparent ;
}

.pie{
    font-size: 8px;
    padding-bottom: 20px;
    margin: 0;
}
.pie a{
    text-decoration: none;
    color: var(--verdeOscuro);
    border-bottom: 0.01px dotted  var(--verdeOscuro);
    padding: 2px;
    /* border-radius: 10%; */
}
.pie:hover{
    color: var(--verdeOscuro);
}

#footer-final li i{
    color: var(--verdeOscuro_1);
}

#footer-final ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
#footer-final ul li{
    margin-right: 10px;
    margin-left: 10px;
}
#footer-medio ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-medio ul li{
    font-size: 10px;
    margin-bottom: 10px;

}
#footer-medio a{
    text-decoration: none;
    color: var(--verdeOscuro);

}

#footer-medio ul li, #footer-final ul li{
    list-style: none;
    display: inline;
}
